.menu {
  position: absolute;
  top: 0px;
  left: 50px;
}
@media (max-width: 622px) {
  .menu {
    left: 10px;
  }
}

.menu details {
  padding: 5px 10px 5px 10px; 
  border: solid;
  border-color: var(--FGcolor);
  border-width: 10px 1px 1px 1px;
  background-color: var(--BGcolor);
  font-size: 14px; 
  button {
    background: none;
    border: none;
    margin:2px; margin-left:8px;
    font-family: 'Work Sans';
    font-size: 14px;
    display: block;
    cursor: alias;
  }
}

.menuDrawer summary {
  margin-bottom: 0px;
  text-align: left;
}
.menuDrawer {
  padding: 1px 10px 0px 10px; 
  border: solid var(--FGcolor) !important;
  border-width: 0px 1px 1px 1px !important;
  background-color: var(--BGcolor);
  font-size: 14px; 
  text-align: justify;
  text-justify: auto;
}
.menuDrawer[open] {
  padding-bottom:10px;
}

.langSelector {
  position: absolute;
  top: 10px;
  right: 10px;
  border: 1px solid var(--LINKcolor); 
  color: var(--LINKcolor);
  height: 14px;
  border-radius: 1em;
  /*corner-shape: superellipse(1.5);*/
  padding: 0px 6px 6px 5px;
  width:85px;
  text-align: justify;
  text-align-last: justify;
  cursor: pointer;
}
.langSelector:hover {
  font-weight: 600;
}
.langSelected {
  border-radius: 1em;
  /*corner-shape: superellipse(1.5);*/
  background: var(--HIGH2color);
  border: solid var(--HIGH2color);
  color: var(--FGcolor);
}

.modeSelector {
  display:block;
  position: absolute;
  top: 35px;
  right: 10px;
  border: 1px solid var(--LINKcolor); 
  color: var(--LINKcolor);
  height: 14px;
  border-radius: 1em;
  /*corner-shape: superellipse(1.5);*/
  padding: 0px 6px 6px 5px;
  width:85px;
  cursor: pointer;
}
.modeSelector:hover {
  font-weight: 600;
}

.mobileOnly {
 display: none;
}
@media (max-width: 622px) {
  .mobileOnly {
    display: inline;
  }
}

.mainMenu[open] {
  min-width:270px;
  max-height: calc(100dvh - 20px);
  overflow: hidden;
}
@media (max-width: 622px) {
  .mainMenu[open] {
    width: calc(100dvw - 40px);
  }
}

#linkA01:hover {color: rgb(130,251,111)}
#linkA02:hover {color: rgb(148,125,89)}
#linkA03:hover {color: lightblue}
#linkA04:hover {color: rgb(245,201,81)}
#linkA05:hover {color: red}
#linkA06:hover {color: rgb(111,99,166)}
#linkA07:hover {color: orangered}
#linkA08:hover {color: rgb(181,66,40)}
#linkA09:hover {color: rgb(78,171,172)}
#linkA10:hover {color: black}

#linkB01:hover {color: rgb(14, 203, 255)}
#linkB02:hover {color: rgb(130,251,111)}
#linkB03:hover {color: rgb(255,0,255)}
#linkB04:hover {color: black}
#linkB05:hover {color: orange}
#linkB06:hover {color: salmon}
